body {
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: "Sacramento", cursive;
  font-size: 30px;
  color: #2c2c2c;
}
h1 {
  margin: 80px auto 0 auto;
  color: #000000;
}
p {
  color: #000000;
  font-size: 2.5rem;
}

.top-container {
  padding: 40px 0 0 0;

  background-color: rgb(205, 210, 210);
}
.top-cloud {
  position: absolute;
  right: 230px;
  margin-top: 50px;
}
.top-cloud2 {
  position: absolute;
  left: 230px;
  margin-top: 53px;
}
.third-cloud {
  position: absolute;
  left: 1250px;
}
.bottom-cloud {
  position: absolute;
  left: 100px;
  margin-bottom: 800px;
}
.mid-container {
  padding: 80px;
  text-align: center;
  background-color: rgb(213, 230, 230);
}
.mid-container p {
  margin: auto;
  width: 60%;
  font-size: 25px;
  font-family: "Tapestry", serif;
  line-height: 2;
  padding-bottom: 30px;
}
hr {
  border: dotted;
  border-bottom: none;
  width: 4%;
}
.photo img {
  border-radius: 50%; /* Ensure the image within the circular border is also rounded */
}
.skill-row pre {
  font-size: 25px;
  font-family: "Tapestry", serif;
}
.skill-row img {
  border-radius: 10%;
  text-align: left;
}
.contact-me {
  padding: 0%;
  margin: 0px;
  border: 0px;
}

.contact-me h4 {
  font-size: 25px;
  font-family: "Tapestry", serif;
}

.contact-me a {
  padding-right: 30px;
}

.contact-me p {
  font-size: large;
  font-family: "Tapestry", serif;
}
